
<div ng-init="load">
    <div class="row" ng-repeat="poll in polls">
        <form class="" role="form" ng-submit="">
            <div class="poll row single col-md-2">
                <div class="hd">
                    <img ng-src="{{poll.hdImage}}" class="img-responsive"/>
                </div>
                <div class="bd">
                    <div class="title"><h3>{{poll.title}}</h3></div>
                    <div class="description">
                        <p>
                            {{poll.description}}
                        </p>
                    </div>
                </div>
                <div class="actions">
                    <span ng-repeat="option in poll.options">
                        <button type="submit" class="btn btn-success" ng-click="updateCount(polls.$getIndex()[$parent.$index], $index)">
                            {{option.displayTitle}}

                        </button>
                    </span>
                    <div class="results">
                        <span ng-repeat="option in poll.options">
                            <span>{{option.count}} {{option.displayTitle}}</span>
                        </span>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>